body{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 100%;
    height: 100vh;
    background: #48bcff;
    display: block;
    position: relative;
    animation: ani-one 4s ease-in-out 1.5s forwards 1,
               ani-two 4s ease-in-out 10s forwards 1;               
}
.img-area img {
    width: 25%;
    float: left;
}
.round{
    background: #FFFF00;
    height: 150px;
    width: 150px;
    position: absolute;
    left: 45%;
    display: block;
    border-radius: 50%;
    animation: ani-three 8s ease-in-out forwards 1,
               ani-four 8s ease-in-out 8s forwards 1;
}
.wrapper-2{
    position: absolute;
    bottom: 0;
}
@keyframes ani-one {
    75%{
        background: #d2c13a;
    }
    100%{
        background: #040427;
    }
}
@keyframes ani-two{
    0%{
        background:#040427 ;
    }
    75%{
        background: #d2c13a;
    }
    100%{
        background: #48bcff;
    }
}
@keyframes ani-three{
    0%{
        top: 0;
    }
    100%{
        top: 70%;
    }
}   
@keyframes ani-four{
    0%{
        top: 70%;
    }
    100%{
        top: 0;
    }
}